<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chao.share.mapper.FavouriteMapper">

    <resultMap id="BaseResultMap" type="com.chao.share.model.domain.Favourite">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="contentID" column="contentID" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,contentID,
        createTime
    </sql>
    <delete id="deleteByContentId">
        delete from favourite where userId =#{userId,jdbcType=BIGINT} and contentID = #{contentId,jdbcType=VARCHAR}
    </delete>
</mapper>
